<div *ngIf="country">
    <h2>{{country.countryName}} Details</h2>
    <table>
        <tr>
            <td class="tdDetails"><!--Country Details-->
            <label class="labelText">Population: </label><label class="lblDetails"> {{country.population | number : fractionSize}}</label><br />
            <label class="labelText">Area (Sqr Km): </label><label class="lblDetails"> {{country.areaInSqKm | number : fractionSize }}</label><br />
            <label class="labelText">Capital: </label> <label class="lblDetails">{{country.capital}}</label><br />
            <label class="labelText">Population of Capital: </label> <label class="lblDetails">{{country.capitalPopulation}}</label><br />
            </td>
            <td><!--Country Flag-->
                <img src="http://www.geonames.org/flags/x/{{country.countryCode.toLowerCase()}}.gif" height="100px" width="100px"/>
            </td>
            <td><!--Country Map-->
                <img src="http://www.geonames.org/img/country/250/{{country.countryCode.toUpperCase()}}.png" height="100px" width="100px"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="labelText">Neighbouring Countries: </label><br /><label class="lblDetails" *ngIf="isNeighboursExist == false">No neighbour found!!!</label>
                <ul>
                    <li *ngFor="let nCountry of neighbours">
                        <a (click) = "navigate(nCountry.countryCode)" [routerLink]="['/countries', nCountry.countryCode]">{{nCountry.name}}</a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div>
    <a class="backHomeLink" [routerLink]="['/countries']">Back</a>
    <a class="backHomeLink" [routerLink]="['/']">Home</a>
</div>
<div *ngIf="isLoading == true" class="loader">Loading..</div>